/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    color: #333;
    line-height: 1.6;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    text-align: center;
    padding: 1px 0;
    background-color: #2d3e50;
    border-radius: 10px;
    color: #fff;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Navigation */
nav {
    margin: 40px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    background-color: #2d3e50;
    border-radius: 10px;
    padding: 15px 30px;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #007bff;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #2d3e50;
    color: #fff;
}

/* General card container styling */
.reservation{
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px 0;
    background-color: #fff;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.reservation:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.vehicle{
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px 0;
    background-color: #fff;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.vehicle:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}